.col-10 .jumbotron {
  background-color: transparent;
  
}

.socialIcon {
  position: fixed;
  margin-top: 160px;
  transition: all 0.3s linear;
 

}
.socialIcon ul {
    margin-top: 0;
    margin-bottom: 0rem;
    text-decoration: none;
  }


  .socialIcon li {
    height: 24px;
    position: relative;
    margin-bottom: 16px;
    
  }

.socialIcon li i {
    color: #D1D1DE !important;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s linear;
    text-decoration: none !important;
  }

 
/*




.socialIcon li fa {
  color: #fff !important;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
  text-decoration: none !important;
}

.socialIcon fa:hover {
  z-index: 1;
  width: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.socialIcon ul li:hover a span {
  padding-left: 30%;
  display: block;
  font-size: 15px;
}
